<style>
  .message-content{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
  small{
    color: #aaaaaa
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Parece que uma troca de senha foi solicitada</p>
  <p>Copie o código abaixo para criar uma nova senha</p>
  <p>
    <strong>{{link}}</strong><br />
    <small>(esse código é valido por duas horas)</small>
  </p>
  <p>
    Atenciosamente<br/>
    <strong>Buffet app</strong>
  </p>
</div>
